.DS_Store
node_modules/
/dist/
certs/
log/
nrb/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vendor/
tmp/*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swn
nohup.out
